<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container">
<h1 class="text-center">Banco YC</h1>
<div class="input-group mb-3">
    <span class="input-group-text" id="sp_user"><i class="fa-solid fa-user"></i></span>
    <input id="cpf" name="cpf" type="text" class="form-control" placeholder="CPF"
           aria-label="Username" aria-describedby="sp_user">
</div>
<div class="input-group mb-3">
    <span class="input-group-text" id="sp_password"><i class="fa-solid fa-key"></i></span>
    <input id="senha" name="senha" type="number" type="password" class="form-control" placeholder="Senha"
           aria-label="Password"
           aria-describedby="sp_password">
</div>
<div class="row">
    <div class="col-sm-6">
        <input id="cadastro" value="cadastro" type="submit" class="btn btn-primary"/>
    </div>
    <div class="col-sm-6 text-end">
        <button id="btnCadastro" class="btn btn-success" href="/cadastro">Cadastre-se</button>
    </div>
</div>
</div>
</body>
</html>